@import '_content/Framework.Core.Blazor.Admin.SqlServer/Framework.Core.Blazor.Admin.SqlServer.bundle.scp.css';
@import '_content/Framework.WebCore/Framework.WebCore.bundle.scp.css';
@import '_content/MagicPropsComponents/MagicPropsComponents.bundle.scp.css';

/* _content/Blazor.Admin.Web/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-75i1sea8du] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-75i1sea8du] {
    flex: 1;
}

.sidebar[b-75i1sea8du] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-75i1sea8du] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-75i1sea8du]  a, .top-row[b-75i1sea8du]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-75i1sea8du]  a:hover, .top-row[b-75i1sea8du]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-75i1sea8du]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-75i1sea8du] {
        justify-content: space-between;
    }

    .top-row[b-75i1sea8du]  a, .top-row[b-75i1sea8du]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-75i1sea8du] {
        flex-direction: row;
    }

    .sidebar[b-75i1sea8du] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-75i1sea8du] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-75i1sea8du]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-75i1sea8du], article[b-75i1sea8du] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

/* _content/Blazor.Admin.Web/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-container[b-z2dtd8awte] {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 20px);
    margin: 10px;
}

.navbar-header-logo[b-z2dtd8awte] {
    padding: 20px;
}

.navbar-list-container[b-z2dtd8awte] {
    flex-grow: 1;
}

.navitem-container[b-z2dtd8awte] {
    padding-left: 15px;
    border-start-start-radius: 15px;
    border-end-start-radius: 15px;
    cursor: pointer;
}

    .navitem-container.selected[b-z2dtd8awte] {
        background-color: #F0F3FA;
        border-right: 5px solid rgb(67,24,255);
        font-weight: bold;
    }

.navbar-list-container[b-z2dtd8awte]  .accordion-trigger-item {
    height: 60px;
    line-height: 60px;
    color: #1B2559;
    text-decoration: none;
    font-size: large;
    font-weight: normal;
    padding-bottom: 5px;
    margin-left: 0px;
    background-color: inherit;
    border-radius: 0px;
    border-start-start-radius: 15px;
    border-end-start-radius: 15px;
}
        .navbar-list-container[b-z2dtd8awte]  .accordion-trigger-item:hover {
            background-color: rgba(240,243,250,.5) !important;
            cursor: pointer;
        }

        .navbar-list-container[b-z2dtd8awte]  .accordion-trigger-item i.fa {
            padding-right: .5rem;
        }
/* _content/Blazor.Admin.Web/Components/Layout/NewLayout.razor.rz.scp.css */
.page[b-xgxd7auzxz] {
    position: relative;
    display: flex;
    flex-direction: row;
    font-family: Roboto !important;
    overflow-x: hidden;
}

main[b-xgxd7auzxz] {
    flex: 1;
    padding-left: 30px;
    padding-right: 20px;
    background-color: #F0F3FA;
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: calc(100% - 280px);
}

.top-row[b-xgxd7auzxz] {
    justify-content: flex-end;
    display: flex;
    height: 3.5rem;
    background-color: white;
    align-items: center;
}

    .top-row[b-xgxd7auzxz] .popup {
        padding: 0px;
    }

    .top-row[b-xgxd7auzxz]  .profile-item {
        padding-left: .5rem;
        padding-right: .5rem;
        white-space: nowrap;
        text-decoration: none;
        display: flex;
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        color: #1B2559
    }

        .top-row[b-xgxd7auzxz]  .profile-item:first-child {
            border-start-end-radius: 5px;
            border-start-start-radius: 5px;
        }

        .top-row[b-xgxd7auzxz]  .profile-item:last-child {
            border-end-end-radius: 5px;
            border-end-start-radius: 5px;
        }

        .top-row[b-xgxd7auzxz]  .profile-item:hover {
            background-color: rgb(240,243,250);
            cursor: pointer;
        }

        .top-row[b-xgxd7auzxz]  .profile-item.selected {
            background-color: #4318FF;
            color: white;
        }

    .top-row[b-xgxd7auzxz]  a {
        text-decoration: none;
    }

    .top-row[b-xgxd7auzxz]  .profile-text {
        padding: .5rem;
        padding-bottom: 0px;
        color: blue;
        text-decoration: underline;
    }

        .top-row[b-xgxd7auzxz]  .profile-text:hover {
            cursor: pointer;
        }

.body-container[b-xgxd7auzxz] {
    padding-top: 20px;
    flex: 1;
    background-color: blue;
}

.navbar-expand-btn-shrink[b-xgxd7auzxz] {
    border-radius: 50%;
    background-color: blue;
    padding-left: 12px;
    padding-top: 7px;
    color: white;
    position: fixed;
    bottom: 58px;
    z-index: 7;
    left: 270px;
    visibility: visible;
    opacity: 1;
    height: 40px;
    width: 40px;
    font-size: large;
}

.navbar-expand-btn-expand[b-xgxd7auzxz] {
    border-radius: 50%;
    background-color: blue;
    padding-left: 14.5px;
    padding-top: 8px;
    color: white;
    position: fixed;
    bottom: 58px;
    z-index: 7;
    left: 77px;
    visibility: visible;
    opacity: 1;
    height: 40px;
    width: 40px;
    font-size: large;
}
/* _content/Blazor.Admin.Web/Components/Layout/Profile.razor.rz.scp.css */
.modal-body[b-qk6h8ljs35]  .tabContainer {
    background-color: white;
}

.tab-header[b-qk6h8ljs35] {
    border: none;
    border-end-start-radius: 15px;
    border-end-end-radius: 15px;
    background-color: white;
}

.tab-list-container[b-qk6h8ljs35] {
    width: calc(100% - 80px);
}
